@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}

.pt-safe { padding-top: var(--safe-area-inset-top); }
.pb-safe { padding-bottom: var(--safe-area-inset-bottom); }

html { scroll-behavior: smooth; }
* { touch-action: manipulation; }
.backdrop-blur-md { backdrop-filter: blur(12px); }

.z-header { z-index: 50; }
.z-nav { z-index: 50; }
.z-modal { z-index: 100; }
